.container {
      display: flex;
      
    }
    
    .column-25 {
      flex-basis: 20%;
      background-color:#1F2833;
    }
    .column-10 {
      flex-basis: 10%;
      background-color: #1F2833 ;
    }
    
    .column-50 {
      margin-top: 140px;
      flex-basis: 70%;
      background-color: #1F2833;
    }

    .column-50 h1{
      font-size: 50px;
      color: #ffffff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: -100px;   
      
    }
    
    footer {
      background-color: #f2f2f2;
      padding: 20px;
    }
    
    .footer {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
    }
    
    .menu {
      margin-bottom: 20px;
    }
    
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      display: inline-block;
      margin-right: 10px;
    }
    
    a {
      text-decoration: none;
      color: #333;
      padding: 5px;
    }
    
    a:hover {
      background-color: #333;
      color: #fff;
    }
    
    p {
      margin: 0;
    }
    
    
    .searchbar {
        margin-left: 1500px;
        color: #1F2833;
      }
      
    h2{
      margin-left: 70px;
      font-size: 50px;
      color: rgb(13, 184, 236);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body {
        background-image: url('.png');
        background-size: cover    ;
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;  
        background-color:#1F2833;
        margin: 0;
        padding: 0; 
      }
      
    
    
    
      .sidebar {
        margin-top: 50px;
        width: 230px;
        height: 900px;
        background-color: white;
        border-radius: 10px;
        margin-left: 10px;
        margin-bottom: 250px;
    }
    
    .sidebar h3{
        margin-top: -10px;
        margin-left: 20px;
        font-size: 15px;
        border-bottom: 2px solid rgb(38, 221, 253);
        display: inline-block;
    }   

      .sidebar h1{
        margin-left: 20px;
        font-size: 30px;
        font-family: Tahoma;
        color: #1F2833;
        text-align: center;
    }
    .sidebar img{
        height: 100px;
        width: 100px;
        margin-left: 60px;
        padding-top: 50px;
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0px;
    
    }
    
    .sidebar li {
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding: 30px;
        font-size: 20px;
        font-family: Tahoma;
    
    }
    
    .sidebar li i {
     margin-right: 20px;
    }
    
    .sidebar li:hover {
        background-color: #ddd;
    }
    
    .sidebar li a {
     text-decoration: none;
    }
    
    #sign-out-link{
      margin-left: 50px;
      font-size: 20px;
      border-top: 2px solid rgb(38, 221, 253);
      display: inline-block;
      text-decoration: none;  
    }
      .sidebar a:hover{
            background-color: #ddd;
      }
      
      .navigation {
        width: 100px; /* adjust width as needed */
      }
      
      .navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      .navigation li {
        display: flex;
        align-items: center;
        margin-bottom: 10px; /* adjust spacing between navigation items */
      }
      
      .navigation img {
        width: 20px; /* adjust image size as needed */
        margin-right: 5px; /* adjust spacing between image and text */
      }
      
      .content {
        flex-grow: 1;
      }
      
    
    .contentcontainer {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
        width: 800px;
        height: 400px;
      }
    
      .contentcontainer h2{
        font-size: 70px;
        margin-left: auto;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      .contentcontainer p{
        font: 30px sans-serif;
        color: rgb(13, 184, 236);
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      .contentcontainer input[type="text"] {    
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 200px;
            margin-bottom: auto;
          }
    
  
      
      footer {
        background-color: #f4f4f4;
        padding: 20px 0;
        text-align: center;
      }
      
      .footer {
        max-width: 960px;
        margin: 0 auto;
      }
      
      p {
        margin: 0;
      }
      

   table {
      border-collapse: collapse;
  }


  .t1 table {
        border-collapse: collapse;
  }

  .t1 td {
        border: none;
        padding: 20px;
        font-size: large;
        margin:auto;        
        box-sizing: border-box;
  }

 .t1 td:not(:last-child) {
        border-right: 2px solid black;

  }

  
  .t2 table {
      border-collapse: collapse;
  }

  .t2 td {
      border: none;
      padding: 31px;
      font-size: large;
      margin: auto;
      box-sizing: border-box;
  }

  .t2 td:not(:last-child) {
      border-right: 2px solid black;
  }